.body {
  font-variant-numeric: lining-nums;
  margin: 0;
  padding: 0;
  letter-spacing: 0;
  word-spacing: 0;
}

.header {
  padding: 92px 60px 90px 50px; /*???? */
  display: grid; /* ** */
  grid-template-columns: 1fr min-content 1fr; /* ** */
  align-items: center; /* ** */
}

.header__menu {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #000;
  display: flex;
}

.header__links-list,
.header__links-list-item_no-bullit,
.header__links-list-item,
.header__address {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*ul menu*/
.header__links-list {
  gap: 32px; /* точно*/
  display: flex; /* ** */
  text-underline-offset: 3px; /* точно*/
}

/*li menu*/
.header__links-list-item {
  list-style: circle;
  align-self: start;
}

/*"главная"*/
.header__links-list-item_no-bullit {
  /* только так, иначе будет точка*/
  list-style: none;
}

.header__logo-image {
  width: 148px;
  min-height: 105px;
}

/*адресс общий*/
.address {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: black;
  text-underline-offset: 3px;
  list-style: none;
  line-height: 25px;
}

.header__address {
  justify-self: end; /* ** */
  max-width: 230px;/* ** */
}

/*секция*/
.cover {
  background-image: url("../images/cover.jpg");
  min-height: 757px;
  margin-bottom: 180px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative; /* ** */
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  inset: 0;
  z-index: 1;
}

/*h1*/
.cover__title {
  font-size: 100px;
  line-height: 115%;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 165px;
}

.accent-span {
  z-index: 2;
  position: relative;
}

.text-left {
  text-align: left;
  margin-left: 48px;
}

.text-center {
  line-height: 155px;
  text-align: center;
  margin-left: 32px;
}

.text-right {
  text-align: end;
  margin-right: 22px;
}

.description {
  font-family: "Raleway", sans-serif;
  line-height: 28px;
  margin-top: 105px;
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/*"аукцион вещей, в которые никто не верил"*/
.description-text {
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 18.7px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  text-align: left;
  align-content: center;
}

.description-button {
  text-transform: uppercase;
  background: transparent;
  font-size: 22px;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
  border: 0.1px solid #ffffff;
  padding: 10px 32px 11px 31px;
}

/*Заголовок*/
.lots__heading {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  margin-left: 64px;
}

.lots__card-list,
.lots__card-list-item {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*ul*/
.lots__card-list {
  height: 100%;
  padding: 28px 20px;
  background-size: cover;
  background-position: center;
  color: #fff;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
}

/*li*/
.lots__card-list-item {
  width: 334px;
}

/*a*/
.card-link {
  height: 100%;
  text-decoration: none;
  display: block;
}

/*общее для карточек*/
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 596px;
  padding: 48px 40px;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.overlay-card {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  inset: 0;
  z-index: 0;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

/*заголовок и текст*/
.card__title,
.card__text {
  position: relative;
  z-index: 1;
}

/*заголовок карточек*/
.card__title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: solid;
  text-underline-offset: 2px;
  min-width: 254px;
}

/*текст карточек*/
.card__text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

/*"посмотреть больше"*/
.lots__look-more-link {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  text-decoration: underline;
  text-underline-offset: 4px;
  display: block;
  margin: 4px 0 0 65px;
}

/*секция "Об аукционе"*/
.about {
  margin-top: 120px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 1052px;
  min-height: 595px;
}

/*div для 1-ой секции*/
.about__column-logo {
  display: grid;
  grid-template-columns: 334px 1fr;
}

/*div для лого*/
.about__logo {
  width: 240px;
  height: 240px;
  top: 35px;
  left: 47px;
  background-color: #000;
  margin: 32px 0 0 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*изображение лого*/
.about__logo-image {
  width: 148px;
  height: 114px;
}

/*div для 2-ой секции*/
.about__column-text {
  min-width: 693px;
  height: 312px;
  margin: 135px 50px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/*заголовок*/
.about__title {
  font-family: "Raleway", sans-serif;
  font-weight: 750;
  font-size: 40px;
  text-transform: uppercase;
  padding-bottom: 75px;
}

/*текст*/
.about__text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  max-width: 693px;
}

.footer {
  padding: 180px 50px 82px 50px;
  max-width: 1100px;
  top: 2848px;
  display: flex;
  justify-content: space-between;
}

.footer__social-list,
.footr__social-list-item,
.footer__menu-list,
.footer__menu-link_active,
.footer__menu-list-item,
.footer__address {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__address {
  line-height: 23px;
  max-width: 240px;
}

.footer__menu {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  text-align: center;
  line-height: 20px;
}

/* текст активной ссылки*/
.footer__menu-link_active {
  text-decoration: none;
}

/*текст меню*/
.footer__menu-link {
  text-underline-offset: 4px;
}

/*ul соц сетей*/
.footer__social-list {
  display: flex;
  gap: 48px;
}

/*иконки соц сетей*/
.footer__social-icon {
  width: 48px;
  height: 48px;
}
