.body {
  font-variant-numeric: lining-nums;
  margin: 0;
  padding: 0;
}

.header {
  opacity: 1;
  display: grid; /* ** */
  grid-template-columns: 1fr min-content 1fr; /* ** */
  align-items: center;
  padding: 92px 50px 96px 50px; /*???? */
}

.header__menu {
  width: 391px;
  height: 22px;
  opacity: 1;
  display: flex; 
}

.header__links-list { 
  gap: 32px; /* точно*/
  display: flex; /* ** */
  text-underline-offset: 4px; /* точно*/
}
 
.header__links-list-item {
  list-style: circle;
  line-height: 100%;
  align-self: self-start;
}

.header__links-list-item_no-bullit{  /* только так, иначе будет точка*/
  list-style: none;
}


.header__logo-image {
  width: 125px;
  height: 95px;
  opacity: 1;
}

.header__address {
  justify-self: end; /* ** */
  max-width: 240px; /*значение взять из макета*/ /* ** */
  grid-template-columns: 1fr;
  flex-direction: column;
  list-style: none;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 400px;
  font-style: Regular;
  font-size: 18px;
  color: black;
  border: 1px;
  margin: 95px 50px 100px 82px; /* неправильно*/
  white-space: nowrap; /* чтобы текст не переносился*/
}

.cover{
  background-image: url("../images/cover.jpg");
  min-height: 757px;
  top: 293px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 180px;
  }

  .cover__title {
  font-size: 100px; 
  line-height: 115%;
  letter-spacing: 30%;
  font-family: Raleway, sans-serif;
  font-weight: 700px;
  font-style: Bold;
  text-transform: uppercase;
  color:#FFFFFF;
   }


  .accent-span {
  width: 286px;
  height: 115px;
  opacity: 1;
  display: block; /* чтобы слова разошлись на разные строки*/
  z-index: 2;
  position: relative;
  }

  .text-left {
  width: 286;
  height: 115;
  opacity: 1;
  top: 165px;
  left: 50px;
}

.text-center {
  width: 339;
  height: 115;
  opacity: 1;
  top: 300px;
  left: 380.5px;
}

.text-right {
  width: 387px;
  top: 435px;
  left: 663px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.6;
  }



.description-text {
  z-index: 2;
  position: relative;
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 22px;
  color: #FFFFFF;
  line-height: 28px;
  letter-spacing: 0%;
  text-transform: uppercase;

}

.description-button {
  z-index: 2;
  position: relative;
  font-family: Raleway;
  font-weight: 500;
  font-style: Medium;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  width: 193;
  color: #FFFFFF;
  background: transparent;
  border: 2px solid #FFFFFF;
}



